@charset "utf-8";
.sidebar {
  position: relative;
  display: block;
}
.sidebar h3 {
  line-height: 34px;
  font-size: 20px;
  font-weight:100;
  margin: 1vh 10px;
  text-align: left;
  letter-spacing:2px;
  color: lightseagreen;
  cursor: pointer;
}
.sidebar h3 i{
  color:gold;
}
.level-2{
  display: none;
}
li.active ul {
  display: block;
}
.level-1>li {
  background: #2E2E2E;
  transition:all .3s;
}
.level-1>li:hover{
  background:rgba(0,0,0,0.0);
}
.level-1>li:hover h3 {
  font-weight: 700;
}
.level-2 li {
  background: rgba(39,80,97,1);
  transition: all .3s ;
}
.level-2 li:hover {
  border-left: 5px solid tomato;
  background: rgba(39,80,97,.5);
}