@charset "utf-8";
.main{
  position: absolute;
  width: 300px;
  height: 300px;
  margin-left:calc(50% - 150px);
}
.main-big{
  animation: SPAN 7s infinite linear;
}
.main-midum{
  animation: SPAN 11s infinite linear;
}
.main-small{
  animation: SPAN 13s infinite linear;
}
/*  主旋转动画*/
@keyframes SPAN{
  25%{
    transform: rotate3d(0.2,0.5,-1,90deg) scale(.7);
  }
  50%{
    transform: rotate3d(-0.2,0.5,-1,180deg) scale(.8);
  }
  75%{
    transform: rotate3d(0.2,0.5,-1,270deg) scale(.9);
  }
  100%{
    transform: rotate3d(0.2,0.5,-1,360deg) scale(1);
  }
}
.waterdrop{
  position: absolute;
  width:130px;
  height:300px;
  margin-left: calc(50% - 65px);
  border-top-right-radius: 100%;
  border-bottom-left-radius: 100%;
}

.tomato-small,
.tomato-midum,
.tomato-big{
/*   border-bottom: 1px solid tomato; */
  transform: rotate(0deg);
  background: linear-gradient(30deg,tomato 0,tomato 20%,transparent 0,transparent 28%,rgba(255,255,255,0.1) 50%,transparent 72%,transparent 82.5%,tomato 0);
}
.aqua-small,
.aqua-midum,
.aqua-big{
/*   border-bottom: 1px solid aqua; */
  transform: rotate(72deg);
  background: linear-gradient(30deg,aqua 0,aqua 20%,transparent 0,transparent 28%,rgba(255,255,255,0.1) 50%,transparent 72%,transparent 82.5%,aqua 0);
}
.gold-small,
.gold-midum,
.gold-big{
/*   border-bottom: 1px solid gold; */
  transform: rotate(144deg);
  background: linear-gradient(30deg,gold 0,gold 20%,transparent 0,transparent 28%,rgba(255,255,255,0.1) 50%,transparent 72%,transparent 82.5%,gold 0);
}
.lightgreen-small,
.lightgreen-midum,
.lightgreen-big{
/*   border-bottom: 1px solid lightgreen; */
  transform: rotate(216deg);
  background: linear-gradient(30deg,lightgreen 0,lightgreen 20%,transparent 0,transparent 28%,rgba(255,255,255,0.1) 50%,transparent 72%,transparent 82.5%,lightgreen 0);
}
.green-small,
.green-midum,
.green-big{
/*   border-bottom: 1px solid green; */
  transform: rotate(288deg);
  background: linear-gradient(30deg,green 0,green 20%,transparent 0,transparent 28%,rgba(255,255,255,0.1) 50%,transparent 72%,transparent 82.5%,green 0);
}

