@charset "utf-8";
.satemain{
  position: absolute;
  width: 200px;
  height: 200px;
  margin-top: 50px;
  margin-left: 150px;
  border-top: 10px solid rgba(0,0,0,0);
  border-radius: 50%;
}
.mainaqua{
  border-left: 10px solid aqua;
  animation: spanmainaqua 1s linear infinite;
}
.maingold{
  border-left: 10px solid gold;
  animation: spanmaingold 1s linear infinite;
}
.maintomato{
  border-left: 10px solid tomato;
  animation: spanmaintomato 1s linear infinite;
}

@keyframes spanmainaqua{
  from{
    transform: rotateX(60deg) rotateY(60deg) rotateZ(0deg);
  }
  to{
    transform: rotateX(60deg) rotateY(60deg) rotateZ(360deg);
  }
}
@keyframes spanmaingold{
  from{
    transform: rotateX(60deg) rotateY(-60deg) rotateZ(0deg);
  }
  to{
    transform: rotateX(60deg) rotateY(-60deg) rotateZ(360deg);
  }
}
@keyframes spanmaintomato{
  from{
    transform: rotateX(60deg) rotateY(180deg) rotateZ(0deg);
  }
  to{
    transform: rotateX(60deg) rotateY(180deg) rotateZ(360deg);
  }
}
.core{
  z-index: 2;
  transform: scale(.8);
  border: 1px solid rgba(0,0,0,.2);
  box-shadow: 0 0 150px white;
  animation: coreMove 1s linear infinite;
}
@keyframes coreMove{
  0%{
    background: transparent;
  }
  45%{
    background: transparent;
  }
  50%{
    box-shadow: 0 0 150px 10px white;
    background: #333;
  }
  95%{
    background: #333;
  }
  100%{
    background: transparent;
  }
}
