@charset "utf-8";
@import 'https://fonts.googleapis.com/css?family=Julius+Sans+One';
body{
	margin: 0;
	padding: 0;
    overflow-x: hidden;
    font-family: 'Julius Sans One', sans-serif;}
h1{
	font-size: 40px;
	font-weight: 100;
}
h2{
	font-size:30px;
	font-weight: 200;
}
h3{
	font-size: 20px;
	font-weight: 200;
	text-align:center;
}
p{
	letter-spacing:1px;
	color:#EFEFEF;
	text-indent:20px;
	text-transform: uppercase;
}
ul{
  margin:0;
  padding: 0;
  list-style:none;
}
a{
	text-decoration: none;
}
button{
	width: 100px;
	height: 38px;
	padding:6px;
	border: none;
	border-radius:.2em;
	color:#EEE;
	background:tomato;
}
nav{
	z-index:9;
	position:fixed;
	height:8vmin;
	width: 100%;
	border-bottom:1px dashed #044E97;
	background:rgba(8,110,213,.2);	
}
nav ul{
	float:right;
}
nav ul li,
nav .logo{
	font-size:20px;
	letter-spacing:3px;
	display:inline-block;
	height:8vmin;
	line-height:8vmin;
}
nav ul li a,
.logo a{
	line-height:inherit;
	display:inline-block;
	height:8vmin;
	color:white;
}
.logo img{
	display:block;
	width:8vmin;
	height:8vmin;
	margin-left:1vmin;
	float:left;
}
nav ul li a{
  	padding: 0 2vmin;
  	transition: background .3s;
}
nav ul li a:hover{
    background:rgba(8,110,213,.6);
}
@media screen and (max-width: 1024px) {
	nav ul li:nth-child(4),
	nav ul li:nth-child(5),
	nav ul li:nth-child(6){
		display: none;
	}
	nav ul li a{
		padding: 0 1vmin;
	}
}
@media screen and (max-width: 768px) {
	nav{
		height: 16vmin;
	}
	nav .logo{
		margin-left: calc(50% - 110px);
	}
	nav ul{
		float: none;
		margin-left: calc(50% - 155px);
	}
}

#banner{
	background: url('../images/banner.jpg') no-repeat;
	background-attachment:fixed;
	background-position: center;
	background-size:cover;
	height:96vh;
}
#banner .inner{
	position:relative;
    width: 100vw;
	max-height:300px;
	text-align: center;
	margin:0 auto;
	top:30vh;
}

#banner .inner h1{
    width:10ch;
	height:30px;
	margin:0 auto;
	padding-bottom:10px;
	color:gold;
	overflow:hidden;
	white-space: nowrap; /*来自CSS揭秘*/
	animation:slideRight 3s linear;
}
@keyframes slideRight{
	from{
		width:0;
	}
	to{
		width:10ch;
	}
}

.inner .subheading{
	line-height:30px;
	margin:30px 0;
	font-size:18px;
}
.green-section{
	height: 80vh;
    padding-top:10vh;
	text-align:center;
	color:#EEEFFF;
	background: gray;
}
@media screen and (max-width: 768px) {
	height:60vh;
}
.subheading{
	line-height:30px;
	font-size:18px;
	font-weight: 100;
}
.icon-group .icon{
	display:inline-block;
}
.icon:nth-child(1) a i:hover,
.icon:nth-child(3) a i:hover{
	color: gold;
}
.icon:nth-child(2) a i{
	display: block;
	width: 80px;
	height: 80px;
	font-weight: 100;
	font-size: 60px;
	color: black;
	border-radius: 100%;
	background: gold;
}



.gray-section{
	height:900px;
}
.img-section,
.img-section>img{
	position: relative;
	width:500px;
	height:300px;
	margin:0;
	background: #333;
}
.article-preview{
	position: relative;
}
.article-preview>div{
	float:left;
}
.text-section{
	width:calc(100% - 500px); 
	height:300px;
	background: #191E29;
}
@media screen and (max-width: 768px) {
	.img-section,
	.text-section{
		width: 100%;
	}
	.img-section img{
		margin-left: calc(50% - 250px);
	}
}
.text-section h2,
.text-section p{
	position:relative;
	left:100px;
	color:white;
}
.text-section p{
	left:10px;
}



.purple-section{
	padding-top:10vh;
	color:black;
	background:#3E3763;
}
.heading-wrapper{
	text-align:center;
}
.heading-wrapper h2{
	color: lightsteelblue;
	font-weight: 700;
}
.heading-wrapper .subheading{
	color: white;
	margin: 0 20px;
}
.card-group{
	margin:0 auto;
	padding:0;
	width:70%;
	position:relative;
	/* 清除浮动 */
	overflow: hidden;
}
.card-group .card{
	position:relative;
	box-sizing: border-box;
	padding:10px;
	width:50%;
	float:left;
	height:300px;
	transition:all .3s;
}
/* 媒体查询，使得card自适应屏幕 */
@media screen and (min-width: 768px) and (max-width: 1024px) {
	.card-group{
		width: 90%;
	}
}
@media screen and (max-width: 768px) {
	.card-group{
		width: 80%;
	}
	.card-group .card{
		width: 100%;
	}
}
.card-group .card:hover{
	cursor:pointer;
	box-shadow:0 0 10px rgba(255, 255, 255, 0.5);
}

.card-group .card:nth-child(1){
	background:rgba(0, 0, 0, 0.05);
}
.card-group .card:nth-child(2){
	background:rgba(0, 0, 0, 0.10);
}
.card-group .card:nth-child(3){
	background:rgba(0, 0, 0, 0.15);
}
.card-group .card:nth-child(4){
	background:rgba(0, 0, 0, 0.20);
}
.card-group .card:nth-child(5){
	background:rgba(0, 0, 0, 0.25);
}
.card-group .card:nth-child(6){
	background:rgba(0, 0, 0, 0.30);
}



footer{
	background:#333;
	color:#fff;
	min-height:50px;
	text-align:center;
}
footer li a{
	color: gold;
}
footer li a:active,
footer li a:hover{
	color: aqua;
}
.share-group{
	display:block;
	width:100vw;
	margin:0 auto;
	padding:20px;
}
.share-group li{
	display:inline-block;
	padding:20px 5px;
}
.copy{
	padding-bottom:20px;
}
.mask{
	position:fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
	transition:all 1.5s;
	background:rgba(0, 0, 0, .7);
}
#sidebar{
	z-index:9;/*设置次高等级*/
	position:fixed;  /*nav同样是fixed形式的position*/
	width:300px;
	top: 8vmin;
	right:-300px;
	bottom:0;  /*不用再设置height*/
	background:rgba(44,62,80,0.5);
	transition:all .3s;
}
#sidebar a{
	position:relative;
	display:inline-block;
	width:100%;
	line-height: 30px;
	color:#EEE;
	left:0;
	background:rgba(44,62,80,0.9);
	transition:all .5s;
}
#sidebar a:hover{
	background:rgba(0,0,0,0);
}
#back-to-top{
	z-index: 99;
	position:fixed;
	bottom:10px;
	right:10px;
}